#build files by extention
simpleCMS
*.o 

#autogen files by extention
*.m4
*.cache
*.log
*.in

#autogen files by name with wildcard extentions
config.*

#explicit autogen files
depcomp
install-sh
Makefile
missing
stamp-h1

#files to ignore
*/.deps
 
#ide files to ignore
.vscode
.vscode/*

# build dir and it's contents
build
build/*
